<h2><%= t('.title') %></h2>

<table>
  <%= render :partial => "line_items/line_item" %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to t('.empty'), @cart, method: :delete, data: { confirm: 'Are you sure'} %>
<%= button_to t('.checkout'), new_order_path, method: :get, :disabled => @order.present? %>

<!-- which is the same as  -->
<%#= button_to 'Checkout', new_order_path, method: :get, :disabled => !@order.nil? %>




<!-- This is how you would hide the checkout button from a specific page (either by entering the rails_path or the url or its extension in quotes) -->
<%# unless current_page?(new_order_path) || current_page?('/products')%>
  <%#= button_to 'Checkout', new_order_path, method: :get %>
<%# end %>

<!-- no need for these links -->
<%#= link_to 'Edit', edit_cart_path(@cart) %>
<%#= link_to 'Back', carts_path %>
