<% @cart.line_items.each do |item| %>
  <% if item == @current_item %>
      <tr id="current_item">
  <% else %>
    <tr>
  <% end %>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.product.title %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
      <td><%= link_to image_tag("plus.jpeg", height: '12', width: '12'), increase_line_item_path(item), :method => :put, remote: true %></td>
      <td><%= link_to image_tag("minus.jpeg", height: '12', width: '12'), decrease_line_item_path(item), :method => :put, remote: true %></td>
<% end %>

<!-- As a result of these two minor changes, the <tr> element of the most recently
changed item in the cart will be tagged with id="current_item". To be used for javascript animation -->
