<% @cart.line_items.each do |item| %>
  <%= form_for item do |f|%>
    <tr id="show_cart_table">
      <td>
          <%= f.submit :value => "Update Qty" %>
          <%= f.text_field :quantity, :size => 2 %>
      </td>
      <% end %>

      <td><%= item.product.title %></td>
      <td class="item_price"><%= currency_to_locale(item.total_price) %></td>
      <% if item.quantity == 1 %>
      <td class="item_price"></td>
      <% else  %>
      <td class="item_price">(<%=currency_to_locale(item.product.price)%> each)</td>
      <% end %>
      <td><%= button_to 'Delete Line Item', item, :method => :delete, :confirm => 'Are You Sure' %></td>
  </tr>
<% end %>
